.edit-user-profile {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-left: auto;    
    margin-right: auto;

    margin-top: 24px;

    .edit-user-profile__form {
        padding: 24px 0;
    }

    &__body {


        .form-row {


            &-title {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;

                padding-right: 5px;
                padding-left: 5px;
                margin-bottom: 16px;

            }

            h6 {
                font-weight: 400;
            }

            label {
                display: inline-block;
                font-weight: 400;
                margin-bottom: 8px;
            }

            .form-group {
                padding-right: 5px;
                padding-left: 5px;

                .form-control {

                    i {
                        color: #abb6bf;
                        line-height: 13px;
                    }

                    .ant-input {
                        font-size: inherit;
                        font-weight: inherit;
                    }
        
                    .ant-input-prefix {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &__footer {
        padding: 16px;
        border-top: 1px solid #e1e5eb;

        button {
            display: table;
            margin-left: auto;
            margin-right: 16px;
        }
    }

    .col-3 {
        .form-group {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
}