.stats-users-by-device {
    flex: 0 0 33.33333%;
    width: 33.33333%;

    .stats-device-body {
        border-bottom: 1px solid #e1e5eb;
    }

    .stats-device-footer {
        display: flex;
        justify-content: space-between;

        .device-footer-href {
            margin: auto 0;

            .device-footer-button {
                color: #3d5170;
                font-size: 12px;
                line-height: 18px;
                font-weight: 500;

                &:hover {
                    color: #007bff;
                }
            }
        }
    }
}