.user-details__social {
    padding: 0;
    margin: 0 auto 24px auto;

    display: flex;

    li {
        display: inline-block;
        margin: 0 4px;

        a {
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            width: 30px;
            height: 30px;
            line-height: 30px;
            background: #e9ecef;
            color: #818ea3;
        }
    }
}