.categories {

    &-body {
        display: flex;
        flex-flow: column;
    }
}

.checkbox-fix {
    margin-left: 0 !important;
    font-weight: 400;
    width: 100%;
    
    & + .checkbox-fix {
        margin-top: 8px !important;
    }
}