.top-refferals-list-item {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0,0,0,.125);

    span {
        &:nth-child(1) {
            color: #3d5170;
        }
        &:nth-last-child(1) {
            color: #818ea3;
        }
    }
}