.auth-form {
    width: 325px;

    &__body {
        box-shadow: inset 0 4px 0 0 #007bff;
        flex: 1 1 auto;
        overflow: hidden;
        box-shadow: inset 0 4px 0 0 #007bff;
        border-radius: 10px;
        padding: 30px;

        .auth-item {
            line-height: 22px;
            margin-bottom: 16px !important;

            &:last-child {
                margin: 0 !important;
            }
        }

        .logo {
            color: #007bff;
            font-size: 36px;
            display: table;
            margin: 0 auto 16px;
        }

        .checkbox-fix {
            margin: 0 auto;
        }

        h5 {
            font-size: 18px;
            text-align: center;
            margin-bottom: 24px;
            font-weight: 400;
        }

        label {
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 8px;
        }

        button {
            display: table;
            margin: auto;
            border-radius: 350px;
        }
    }

    &__footer {
        padding: 18px;
        border-top: 1px solid #e1e5eb;

        &__icons {
            display: table;
            margin: auto;

            li {
                display: inline-block;
            }

            a {
                font-size: 20px;
                color: #cacedb;
                padding: 0 12px;
                transition: color 250ms cubic-bezier(.27,.01,.38,1.06);

                &:hover {
                    color: #007bff;
                }
            }
        }
    } 
}

.login-form__meta {
    display: flex;
    margin-top: 24px;

    a {
        font-weight: 400;
        color: #818ea3;

        &:last-child {
            margin-left: auto;
        }

        &:hover {
            color: #3d5170 !important;
            text-decoration: underline !important;
        }
    }
}

.ant-form-item-has-error .ant-input {
    border-color: #c4183c !important;
    box-shadow: 0 5px 11.5px rgba(196, 24, 60, .10) !important;

    &:focus {
        box-shadow: 0 5px 11.5px rgba(196, 24, 60, .10), 0 1px 1px 0.1rem rgba(196, 24, 60, .20) !important;
    }
}

.ant-form-item-has-success .ant-input {
    border-color: #17c671 !important;
    box-shadow: 0 5px 11.5px rgba(23, 198, 113, .10) !important;

    &:focus {
        box-shadow: 0 5px 11.5px rgba(23, 198, 113, .10), 0 1px 1px 0.1rem rgba(23, 198, 113, .20) !important;
    }
}

.valid-feedback,
.invalid-feedback {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
}

.valid-feedback {
    color: #17c671;
}

.invalid-feedback {
    color: #c4183c;
}