.page-header {
    padding: 24px;
    width: 100%;
    margin: 0 !important;

    &-title {
        text-align: left;

        .page-subtitle {
            font-size: 10px;
            text-transform: uppercase;
            color: #818ea3;
            line-height: 1.5;
            font-weight: 500;
            letter-spacing: 2px;
        }

        .page-title {
            font-size: 26px;
            color: #3d5170;
            font-weight: 500;
            line-height: 1;

            margin: 0;
        }
    }
}