.device-footer-select {

    .device-select {
        color: #495057;
        font-size: 11px;
        font-weight: 300;
        width: 102px;

        div {
            border-radius: 4px !important;
        }
    }
}